/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* login-page */

.login-page {
  height: 100%;
  position: absolute;
  width: 100%;
  display: block;
  background-color: #000;
}

.login-page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login-page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login-page .title {
  font-size: 200%;
}

.login-page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login-page .title,
.login-page .usernameInput {
  color: #fff;
  font-weight: 100;
}


/* drawing-space */

.drawing-space {
  display: none;
}


/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}

.color.red {
  background-color: red;
}

.color.green {
  background-color: green;
}

.color.blue {
  background-color: blue;
}

.color.yellow {
  background-color: yellow;
}